<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>OL</title>
</h:head>
<h:body>

	<h:form >
	<center>
		<p:outputLabel   style="font-size:50px;"   value="Gabriel Henrique" />
	</center>
	<br/><br/>
<div class="ui-g">
    <div class="ui-g-4">
    <p:panelGrid columns="1">
    		<p:commandButton value="Cadastrar >" action="#{loginMB.cadastrar}"
				ajax="false" style="box-shadow:; border: 2px solid rgb(198,198,198); BORDER-RADIUS:0PX;background-color:transparent; color:rgb(117,117,117);" />
    			<p:commandButton value="Excluir"  action="#{loginMB.excluir}" ajax="false" style="box-shadow:none; border: 2px solid rgb(198,198,198); BORDER-RADIUS:0PX;background-color:transparent; color:rgb(117,117,117);"  />
				<p:commandButton value="Editar"   ajax="false" style="box-shadow:none; border: 2px solid rgb(198,198,198); BORDER-RADIUS:0PX;background-color:transparent; color:rgb(117,117,117);"  />
				<p:commandButton value="Visualizar"  ajax="false" style="box-shadow:none; border: 2px solid rgb(198,198,198); BORDER-RADIUS:0PX;background-color:transparent; color:rgb(117,117,117);"  />    		
    </p:panelGrid>
    </div>
    <div class="ui-g-4">
    <p:panelGrid columns="1">
    
			<p:inputText placeholder="Nome" required="true" value="#{loginMB.usuario.nome}"
				/>

			<p:inputText placeholder="Idade" required="true" value="#{loginMB.usuario.idade}"
				 />

			<p:inputText placeholder="Email" required="true" value="#{loginMB.usuario.email}"
				 />


			<p:password id="inlineFeedback" required="true" placeholder="Senha"
				value="#{loginMB.usuario.senha}" feedback="true" inline="true"
				 />	
					<br />
		<br />
		<br />
		<p:selectOneMenu id="console" value="#{loginMB.idSelecionado}" >
			
			<f:selectItem itemLabel="Selecione o Usuario" noSelectionOption="true" itemDisabled="true"  />
			<f:selectItems value="#{loginMB.listUsuario}" var="usuario" itemLabel="#{usuario.nome}" itemValue="#{usuario.idUsuario}"  />
		</p:selectOneMenu>
		</p:panelGrid>
    </div>
    
    <div class="ui-g-4">
   
   <h3>Horrio</h3>
  
  <br /><br /><p:clock pattern="HH:mm:ss dd.MM.yyyy" mode="server" />
  </div>
	</div>
	


	
	
		<br />
		<br />
		<br />

		<p:dataTable var="usuario" value="#{loginMB.getListUsuario()}" emptyMessage="Nada Cadastrado">
			<p:column headerText="Id">
				<h:outputText value="#{usuario.idUsuario}" />
			</p:column>

			<p:column headerText="Nome">
				<h:outputText value="#{usuario.nome}" />
			</p:column>

			<p:column headerText="Idade">
				<h:outputText value="#{usuario.idade}" />
			</p:column>

			<p:column headerText="E-mail">
				<h:outputText value="#{usuario.email}" />
			</p:column>
			<p:column headerText="Senha">
				<h:outputText value="#{usuario.senha}" />
			</p:column>
		</p:dataTable>
		
		<br />
		<br />
		<br />
  
  	<h:form >


  	<p:outputLabel  value="Telefone: (071) 991392492 "  />
  <p:outputLabel  value="Email: gamergabriel1515@gmail.com  "  />
  
  
	</h:form>
	</h:form>

</h:body>
</html>